In [7]:
from TradingviewData import TradingViewData, Interval
import pandas as pd
import os

In [8]:
tv = TradingViewData()

In [9]:
xrp_data = tv.get_hist(
    symbol='XRPUSD',       
    exchange='BITSTAMP',  
    interval=Interval.daily,
    n_bars=1800            
)

In [11]:
#Borrado de columna 'symbol'
if 'symbol' in xrp_data.columns:
    xrp_data = xrp_data.drop(columns=['symbol'])

In [12]:
xrp_data.head()

                        open     high      low    close        volume
datetime
2021-02-22 01:00:00  0.54568  0.64900  0.51430  0.56601  2.188946e+08
2021-02-23 01:00:00  0.56640  0.57101  0.36840  0.47612  2.102771e+08
2021-02-24 01:00:00  0.47661  0.50006  0.45155  0.46863  8.026300e+07
2021-02-25 01:00:00  0.46874  0.48253  0.42474  0.43597  7.216955e+07
2021-02-26 01:00:00  0.43608  0.45124  0.41100  0.42831  7.862250e+07

El "problema" del método get_hist() es que tenemos que indicar en n_bars el nº de datos que queremos de antemano. Elegimos más de la cuenta para luego hacer filtros por años

In [13]:
years = [2022, 2023, 2024, 2025]

for year in years:
    for month in range(1, 13):
        month_path = f'data/year={year}/month={month:02d}'
        os.makedirs(month_path, exist_ok=True)

        mask = (xrp_data.index.year == year) & (xrp_data.index.month == month)
        df_month = xrp_data.loc[mask].copy()
        
        if not df_month.empty:            
            ruta = f'{month_path}/XRP_{year}_{month:02d}.csv'
            df_month.to_csv(ruta, index=True)